services:
wikijs:
image: requarks/wiki:latest
container_name: wikijs
restart: unless-stopped
ports:- "3000:3000"
environment:
DB_TYPE: postgres
DB_HOST: 10.77.133.6
DB_PORT: 5432
DB_USER: wikijs
DB_PASS: {{ vault_wikijs_password }}
DB_NAME: wikijs_db